## Exercícios

1. Considere a existência de três tabelas distintas:
* customer.csv : Possui a informação dos clientes em duas colunas: customer id  customer name
* products.csv : Contém informação dos produtos vendidos pela empresa em três colunas - p_id (product id), product (name) e price
* sales.csv : Contém informações das vendas realizadas em seis colunas - sale_id, c_id (customer id), p_id (product_id), qty (quantity sold), store (name)

Conhecendo as bases responda:

a) Quais foram os produtos vendidos?

In [1]:
import pandas as pd 
sales=pd.read_csv("data/sales.csv") # reading from csv file
print(sales)

   sale_id  c_id  p_id  product  qty store
0        1     2     3  Monitor    2   ABC
1        2     2     4      CPU    1   DEF
2        3     1     3  Monitor    3   ABC
3        4     4     2      RAM    2   DEF
4        5     2     3  Monitor    3   ABC
5        6     3     3  Monitor    2   DEF
6        7     2     2      RAM    3   ABC
7        8     3     2      RAM    2   DEF
8        9     2     3  Monitor    2   ABC

In [2]:
vendidos = sales['product'].unique()
vendidos

array(['Monitor', 'CPU', 'RAM'], dtype=object)

b) E os não vendidos?

In [3]:
products=pd.read_csv("data/products.csv") 
todos_produtos = products['product'].unique()
todos_produtos

array(['Hard Disk', 'RAM', 'Monitor', 'CPU', 'Keyboard', 'Mouse',
       'Motherboard', 'Power supply'], dtype=object)

In [7]:
print("Os produtos que não foram vendido: ", [i for i in todos_produtos if i not in vendidos])

Os produtos que não foram vendido:  ['Hard Disk', 'Keyboard', 'Mouse', 'Motherboard', 'Power supply']

c) Quais foram as cinco maiores vendas? Salve essas vendas em um arquivo excel.

In [8]:
maiores_vendas = sales.sort_values('qty', ascending=False).head()
maiores_vendas

   sale_id  c_id  p_id  product  qty store
2        3     1     3  Monitor    3   ABC
4        5     2     3  Monitor    3   ABC
6        7     2     2      RAM    3   ABC
0        1     2     3  Monitor    2   ABC
3        4     4     2      RAM    2   DEF

In [ ]:
maiores_vendas.to_excel('./data/maiores_vendas.xlsx')

d) Liste a quantidade vendida de cada produto. Utilize um loop for para isso.

In [9]:
for i in sales['product'].unique():
    print(i, sales[sales['product']==i].qty.sum())

Monitor 12
CPU 1
RAM 7

e) Liste a quantidade vendida de cada loja.

In [10]:
for i in sales['store'].unique():
    print(i, sales[sales['store']==i].qty.sum())

ABC 13
DEF 7

f) Liste a quantidade vendida de cada produto por loja.

In [11]:
lojas = sales['store'].unique()
produtos = sales['product'].unique()
for i in lojas:
    for j in produtos:
        print(i, j, sales[(sales['store']==i) & (sales['product']==j)].qty.sum())

ABC Monitor 10
ABC CPU 0
ABC RAM 3
DEF Monitor 2
DEF CPU 1
DEF RAM 4

## Referências
[Leitura de dados](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html) <br>
[Seleção dos dados](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html) <br>
[Lista de atributos e métodos](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.html)